* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #091034;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

.button {
    background-color: #FBA90A;
    color: #183BF0;
    font-size: xx-large;
    font-family: 'Cabin Sketch',
        cursive;
    border: none;
    border-radius: 7px;
    padding: 20px;
    outline: none;
}

.button:hover {
    cursor: pointer;
    background-color: #340933;
    color: #E4F132;
    transition: all .5s ease;
    transform: scale(1.2);
    border-color: #E4F132;
}

button>i {
    pointer-events: none;
}

.calc-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "display display display clear"
        ". . . ."
        "seven eight nine plus"
        "four five six minus"
        "one two three multiply"
        "point zero delete divide"
        "equals equals equals equals"
        "quote quote quote quote";
    gap: 8px;
    padding: 50px;
    box-shadow:
        inset 1em -3em 5em,
        -1em 4em 2em 1em,
        0.7em 0.7em 0.8em
}

.calc-display {
    background-color: #F7EBD4;
    padding-top: 20px;
}

.calc-screen {
    color: #091034;
    font-size: xx-large;
    display: inline-block;
    text-align: right;
    font-weight: 600;
    font-family: 'Suez One',
        serif;
    height: 40px;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
}

.nine {
    grid-area: nine;
}

.eight {
    grid-area: eight;
}

.seven {
    grid-area: seven;
}

.six {
    grid-area: six;
    leftOperand=leftOperandArray.join('');
}

.five {
    grid-area: five;
}

.four {
    grid-area: four;
}

.three {
    grid-area: three;
}

.two {
    grid-area: two;
}

.one {
    grid-area: one;
}

.zero {
    grid-area: zero;
}

.calc-display {
    grid-area: display;
}

.clear {
    grid-area: clear;
}

.delete {
    grid-area: delete;
}

.equals {
    grid-area: equals;
}

.plus {
    grid-area: plus;
}

.minus {
    grid-area: minus;
}

.multiply {
    grid-area: multiply;
}

.divide {
    grid-area: divide;
}

.point {
    grid-area: point;
}

/* .quote {
    grid-area: quote;
} */

.operator {
    background-color: #340933;
    color: #E4F132;
}

.operator:hover {
    transition: all .3s ease;
    transform: scale(1.1);
    background-color: #F7EBD4;
    color: #340933;
}

.equals {
    background-color: #091034;
    border: 1px solid #E4F132;
    color: #E4F132;
    font-size: 50px;
}

.equals:hover {
    background-color: #F7EBD4;
    color: #183BF0;
    transform: scale(1);
}